$main: #029491;
$black: #000000;
$white: #FFFFFF;
$yellow: #FFB64F;
$azure: #7CE3E1;
$blue: #5970FF;
$gray: #949494;
$white-bg-hover: gray;
$black-bg-hover: lightgray;
$disabled: #C7C7C7;
$error: #FF5959;